---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.league-list-heading {
  font-size: 24px;
  margin: 0 0 5px;
}
.league-list-date {
  color: #999;
  font-size: 16px;
  margin-bottom: 0;
}
.nav-tabs {
  margin-bottom: 20px;
  margin-top: 30px;
}
.standings-table {
  thead th {
    text-align: center;
    &:first-child {
      text-align: left;
    }
  }
  tbody td {
    text-align: center;
    &:first-child {
      text-align: left;
    }
  }
  .pts {
    font-weight: bold;
  }
}
.pairings-table {
  thead th, tbody td {
    text-align: left;
    white-space: nowrap;
  }
  .team {
    display: inline-block;
    margin-right: 40px;
    &.win {
      font-weight: bold;
    }
  }
  .scr {
    float: right;
    &.win {
      font-weight: bold;
    }
  }
}
#scores {
  position: relative;
}
.toggle-shooters {
  position: absolute;
  right: 0;
  top: -55px;
  &.toggled:before {
    content: "Hide ";
  }
  &.untoggled:before {
    content: "Show ";
  }
}

.score-table>tbody>tr>td {
  vertical-align: middle;
}
.score-table.expanded {
  tbody tr.team td {
    background: #dff0d8;
  }
  &.table-bordered>tbody>tr.team>td {
    border-top: 2px solid #333;
  }
}
.score-table.collapsed {
  tbody tr.shooter {
    display: none;
  }
  &.table-bordered>thead>tr>th.prev {
    border-right-color: #fff;
  }
  thead tr span {
    display: none;
  }
}
tbody td {
  text-align: right;
  &:first-child {
    text-align: left;
  }
}
.team td {
  font-weight: bold;
}
.score-table {
  border: 2px solid #333;
}
.score-table>tbody>tr>td {
  border-color: rgba(0,0,0,.07);
}
.score-table>thead>tr>th,
.score-table>tbody>tr.team>td,
.score-table>tbody>tr>td.adj,
.score-table>tbody>tr>td.final,
.score-table>tbody>tr>td.prev,
.score-table>tbody>tr>td.change {
  border-right-color: #333;
}
.score-table>thead>tr>th {
  border-color: #333;
  text-align: center;
  &:first-child {
    text-align: left;
  }
}
.score-table>tbody>tr.team>td,
.score-table>tbody>tr>td.name {
  border-left-color: #333;
}
.score-table>tbody>tr:last-child>td {
  border-bottom-color: #333;
}
.table>tbody>tr>td.adj {
  background: lighten(#dff0d8, 5%);
  font-weight: bold;
}
.table>tbody>tr>td.hcp {
  color: #999;
  font-style: italic;
  &.prev {
    text-align: center;
  }
}
.table>tbody>tr>td.final {
  background: #dff0d8;
  font-weight: bold;
}
.table-hover>tbody>tr:hover>td.adj {
  background: #dff0d8;
}
.team-actions {
  text-align: center;
}


// Entering Scores

.enter-score-table {
  th, td {
    text-align: center;
    &:first-child {
      text-align: left;
    }
  }
  >tbody>tr>td {
    vertical-align: middle;
  }
  input[type="text"] {
    margin: 0 auto;
    max-width: 50px;
    text-align: center;
  }
}
