<table class="table table-bordered pairings-table">
  <thead>
    <tr>
      <th>Week 1</th>
      <th>Week 2</th>
      <th>Week 3</th>
      <th>Week 4</th>
      <th>Week 5</th>
      <th>Week 6</th>
      <th>Week 7</th>
      <th>Week 8</th>
      <th>Week 9</th>
      <th>Week 10</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span class="scr win">180</span><span class="team win">Bismarck Gold & Silver</span>
        <br>
        <span class="scr">176</span><span class="team">Jake's Auto Glass</span>
      </td>
      <td>Loose Cannons<br>Bismarck Gold & Silver</td>
      <td>Bismarck Gold & Silver<br>Exhausted Ones</td>
      <td>Northern Plains Equipment<br>Bismarck Gold & Silver</td>
      <td>Bismarck Gold & Silver<br>Budmen</td>
      <td>NWTF<br>Bismarck Gold & Silver</td>
      <td>Bismarck Gold & Silver<br>Almost "HIT"</td>
      <td>Bismarck Gold & Silver<br>Jake's Auto Glass</td>
      <td>Loose Cannons<br>Bismarck Gold & Silver</td>
      <td>Bismarck Gold & Silver<br>Exhausted Ones</td>
    </tr>
    <tr>
      <td>
        <span class="scr">170</span><span class="team">Loose Cannons</span>
        <br>
        <span class="scr win">176</span><span class="team win">Almost "HIT"</span>
      </td>
      <td>Jake's Auto Glass<br>Almost "HIT"</td>
      <td>Loose Cannons<br>Jake's Auto Glass</td>
      <td>Jake's Auto Glass<br>Exhausted Ones</td>
      <td>Northern Plains Equipment<br>Jake's Auto Glass</td>
      <td>Jake's Auto Glass<br>Budmen</td>
      <td>NWTF<br>Jake's Auto Glass</td>
      <td>Loose Cannons<br>NWTF</td>
      <td>Jake's Auto Glass<br>Almost "HIT"</td>
      <td>Loose Cannons<br>Jake's Auto Glass</td>
    </tr>
    <tr>
      <td>
        <span class="scr win">180</span><span class="team win">Bismarck Gold & Silver</span>
        <br>
        <span class="scr">176</span><span class="team">Jake's Auto Glass</span>
      </td>
      <td>Loose Cannons<br>Bismarck Gold & Silver</td>
      <td>Bismarck Gold & Silver<br>Exhausted Ones</td>
      <td>Northern Plains Equipment<br>Bismarck Gold & Silver</td>
      <td>Bismarck Gold & Silver<br>Budmen</td>
      <td>NWTF<br>Bismarck Gold & Silver</td>
      <td>Bismarck Gold & Silver<br>Almost "HIT"</td>
      <td>Bismarck Gold & Silver<br>Jake's Auto Glass</td>
      <td>Loose Cannons<br>Bismarck Gold & Silver</td>
      <td>Bismarck Gold & Silver<br>Exhausted Ones</td>
    </tr>
    <tr>
      <td>
        <span class="scr">170</span><span class="team">Loose Cannons</span>
        <br>
        <span class="scr win">176</span><span class="team win">Almost "HIT"</span>
      </td>
      <td>Jake's Auto Glass<br>Almost "HIT"</td>
      <td>Loose Cannons<br>Jake's Auto Glass</td>
      <td>Jake's Auto Glass<br>Exhausted Ones</td>
      <td>Northern Plains Equipment<br>Jake's Auto Glass</td>
      <td>Jake's Auto Glass<br>Budmen</td>
      <td>NWTF<br>Jake's Auto Glass</td>
      <td>Loose Cannons<br>NWTF</td>
      <td>Jake's Auto Glass<br>Almost "HIT"</td>
      <td>Loose Cannons<br>Jake's Auto Glass</td>
    </tr>
  </tbody>
</table>
